* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6bfa4e, #ff918d);
}

.container {
  background: rgba(255, 255, 255, 0.205);
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgb(2, 0, 0);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #e72929;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #f50303;
  color: rgb(250, 250, 250);
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #e64a19;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

p span {
  color: #f30505;
  cursor: pointer;
  font-weight: bold;
}
